@import './base/normalize';
@import './utils/variables';
@import './components/header';
@import './components/logo';
@import './components/nav';
@import './utils/visuali-hidden';
@import './components/hero';
@import './components/our-work';
@import './components/our-progress';
@import './components/our-team';
@import './components/social';
@import './components/our-partner';
@import './components/portfolio';
@import './components/footer';
@import './components/modal';
@import './components/callback';

body {
  font-family: 'Roboto';
  color: $black-brand-color;
  background-color: $white-brand-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
