html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Общие файлы Css */

/* ---------Брендовые цвета---------- */

:root {
  --blu-brand-color: #2196f3;
  --black-brand-color: rgba(33, 33, 33, 1);
  --grey-brand-color: rgba(117, 117, 117, 1);
  --white-brand-color: #fff;
  --black-logo: #000;
  --brand-color-footer: rgba(47, 48, 58, 1);
}

body {
  font-family: 'Roboto';
  box-sizing: border-box;
  color: #000;
  background-color: var(--white-brand-color);
  margin: 0;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  background-color: var(--white-brand-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}

/* -------Стилизация Навигации------- */

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */

.logo {
  display: inline-block;
  font-family: 'Raleway';

  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(----black-brand-color);
}

.nav-logo {
  margin-right: 90px;
}

.logo span {
  color: $blu-brand-color;
}

.nav-list,
.nav-contact {
  list-style: none;
  display: flex;
}

.nav-list .nav-link {
  display: block;

  padding: 32px 0;

  color: var(----black-brand-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: $blu-brand-color;
}

.nav-list .primary {
  display: block;
  position: relative;

  padding: 32px 0;

  color: $blu-brand-color;
}

.nav-list .primary::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $blu-brand-color;
}

/* стилизация нав контактов */

.nav-list .item + .item {
  margin-left: 50px;
}
.nav-contact .item + .item {
  margin-left: 50px;
}

.header-contact {
  margin-left: auto;
}

.header-contact .contact-link {
  display: flex;
  align-items: center;
  color: var(--grey-brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
}

.footer-contact .contact-link {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  color: $blu-brand-color;
}

/* Footer style */

.footer {
  background: var(--brand-color-footer);
  padding: 60px 0;
}

.footer-logo {
  color: var(--white-brand-color);
  margin: 0;
  margin-bottom: 20px;
}

.footer-contact .item {
  margin-bottom: 9px;
}

.footer-contact .item:last-child {
  margin-bottom: 0;
}

.footer-contact .footer-map {
  color: var(--white-brand-color);
}

/* Icon */

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
/* ---------Стилизация Portfolio-------- */

/* Стилизация Portfolio Body */

/* Скрытй текст в портфолио */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Скрытй текст в портфолио */

.main-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;

  margin-top: 80px;
}

.portfolio-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 50px;
  margin-top: 0;
}

.portfolio-link button {
  font-weight: 500;
  color: var(--black-brand-color);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background-color: rgba(245, 244, 250, 1);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  margin: 0 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link button:hover,
.portfolio-link button:focus {
  color: var(--white-brand-color);
  background-color: $blu-brand-color;
  box-shadow: 0 5px 15px rgba(117, 117, 117, 0.2);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.portfolio-items .item {
  width: 370px;

  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  transform: scale(1);
  transition: transform 1s ease;

  cursor: pointer;

  border: 1px solid rgba(238, 238, 238, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 15px;
}

.portfolio-items .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-items .item:hover {
  box-shadow: 0 5px 15px rgba(117, 117, 117, 0.2);
  transform: scale(1.01);
}

.portfolio-img {
  display: block;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items .item:hover .img-wrapper::before {
  transform: translateY(0);
}

.img-subtext {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-brand-color);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items .item:hover .img-subtext {
  transform: translateY(0);
}

.portfolio-wrapper {
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;

  color: var(----black-brand-color);
  margin-bottom: 4px;
}
.portfolio-subtitle {
  font-weight: 400;
  color: var(--grey-brand-color);
  line-height: 1.8;
  letter-spacing: 0.03em;
  font-size: 16px;
}

/* ------------------Главная страница сайта-------------------- */

.main-header {
  padding: 200px 0;
  text-align: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 80px;

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);

  text-transform: uppercase;

  margin-bottom: 30px;
}

.main-btn {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.9;

  background-color: $blu-brand-color;
  color: var(--white-brand-color);

  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover {
  background-color: rgb(18, 18, 18);
}

/* Our Work */

.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-work-img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;

  border-radius: 4px;
}

.antenna,
.clock,
.diagram,
.astronaut {
  width: 70px;
  height: 70px;
}

.our-work-list,
.progress-list,
.team-list {
  display: flex;
  justify-content: space-between;
}

.our-work-link {
  width: 270px;
}

.our-work-link,
.progress-link {
  list-style: none;
  margin-right: 30px;
}

.our-work-link:nth-child(4) {
  margin: 0;
}

.our-work__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-brand-color);

  margin-bottom: 10px;
}
.our-work__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-brand-color);
}

/* Our progress */

.our-progress {
  padding-bottom: 94px;
}

.progress-link {
  position: relative;
  list-style: none;
  margin-right: 30px;
}

.progress-link:nth-child(3) {
  margin: 0;
}

.progress-img {
  display: block;
}

.progress-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;

  color: var(--white-brand-color);

  background-color: rgba(47, 48, 58, 0.8);
}

/* Общий Title */
.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* Our Team */

.our-team {
  background: rgba(245, 244, 250, 1);
  padding: 94px 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 15px;

  background-color: var(--white-brand-color);
}

.team-link img {
  display: block;
}

.team-text {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-brand-color);

  margin-bottom: 10px;
}
.team-subtext {
  text-align: center;

  color: var(--grey-brand-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.team-content {
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  /* color: currentColor; */
  width: 44px;
  height: 44px;
  border-radius: 50%;

  margin-left: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: $blu-brand-color;
}

.social-link:first-child {
  margin: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-brand-color);
}

/* Our partner  */

.our-partner {
  background-color: var(--white-brand-color);
  padding: 94px 0;
}
.our-partner-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;

  margin: -15px;
  color: var(--grey-brand-color);
  list-style: none;
}

.our-partner-link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px;
}

.our-partner-bg {
  padding: 16px 32px;
  width: 170px;
  height: 92px;

  background-color: var(--white-brand-color);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-partner-bg:hover,
.our-partner-bg:focus {
  border: 1px solid $blu-brand-color;
}

.partner-logo {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-partner-bg:focus .partner-logo,
.our-partner-bg:hover .partner-logo {
  fill: $blu-brand-color;
}

/* Footer social link */

.footer-row {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
  text-transform: uppercase;

  color: var(--white-brand-color);
}

.footer-social-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.footer-social-link .footer-link + .footer-link {
  margin-left: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: currentColor;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-instagram,
.footer-link-facebook,
.footer-link-linkedin,
.footer-link-twitter {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-link:hover,
.footer-link:focus {
  background-color: $blu-brand-color;
}

/* Footer - form */

.footer-wrapper {
  margin-left: auto;
}

.footer-input {
  display: inline-block;

  width: 358px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.submit-btn {
  display: inline-flex;
  align-items: center;

  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--white-brand-color);
  background-color: $blu-brand-color;
  border: none;
  border-radius: 4px;

  padding: 10px 28px;
  margin-left: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover {
  background-color: rgb(18, 18, 18);
}

.icon-submit {
  width: 24px;
  height: 24px;

  margin-left: 10px;

  fill: var(--white-brand-color);
}

/* Box Modal */

.box-model {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-model.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.box-model.is-hidden .form {
  transform: scale(0);
}

.form {
  position: relative;
  border-radius: 20px;
  padding: 40px;

  width: 528px;
  height: 581px;

  background-color: var(--white-brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black-brand-color);

  margin-bottom: 12px;
}
.form-field {
  position: relative;

  display: block;
  width: 100%;

  color: #fff;
  color: var(--black-brand-color);
  margin-bottom: 10px;
}

.form-field:focus-within .icon {
  fill: $blu-brand-color;
}

.form-field:focus-within .form-label,
.form-field:focus-within .textarea-label {
  color: $blu-brand-color;
}

.form-input {
  display: inline-block;
  width: 100%;
  height: 40px;

  font-size: 12px;
  letter-spacing: 0.02rem;

  padding: 11px 0;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus {
  border-color: $blu-brand-color: rgb(33, 150, 243);
;
  outline: none;
}

.form-input:hover{
  border-color: $blu-brand-color;

}

.form-label {
  display: inline-block;

  /* position: absolute;
  top: -50%;
  left: 0; */

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--grey-brand-color);

  margin-bottom: 4px;
}

.textarea {
  position: relative;
}

.textarea-label {
  display: inline-block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--grey-brand-color);

  margin-bottom: 4px;
}

.form-area {
  display: block;
  height: 120px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  resize: none;
}
.form-icon {
  display: inline-block;
  position: absolute;

  top: 55%;
  left: 14px;

  width: 18px;
  height: 18px;
}
.icon {
  width: 15px;
  height: 12px;
}

.block-name {
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  z-index: 2;

  display: inline-block;
  position: absolute;
  top: -20%;
  left: -250px;
  min-width: 200px;

  opacity: 0;

  transition: opacity 250ms ease 500ms;
}

.block-name::before,
.block-name::after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
}
.block-name::after {
  border-top: 10px solid transparent;
  bottom: -19px;
}

.form-field:hover .block-name {
  opacity: 1;
}

.form-chekbox {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.chekbox-input {
  /* visibility: hidden; */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.chekbox-icon {
  display: inline-block;

  width: 15px;
  height: 15px;

  border-radius: 4px;

  border: 2px solid var(--grey-brand-color);

  background-color: transparent;
  transition: background-color 250ms ease;
}

.chekbox-input:checked ~ .chekbox-icon {
  background-color: $blu-brand-color;
  border: transparent;

  background-image: url(../images/box-modal/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-origin: border-box;
}

.chekbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: var(--grey-brand-color);

  margin-left: 8px;
}
.chekbox-text-accent {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: underline;

  color: $blu-brand-color;
}

.form-btn {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--white-brand-color);

  padding: 10px 56px;

  background-color: $blu-brand-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  margin-left: auto;
  margin-right: auto;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover {
  background-color: rgb(18, 18, 18);
}

.closed {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closed:hover .icon {
  fill: $blu-brand-color;

}



